In [2]:
num1= input("enter first number: ")
num2= input("enter second number: ")
sub= int(num1)-int(num2)
print("result is: ", sub)

enter first number:  65
enter second number:  54

result is:  11

In [3]:
num1= input("enter first number: ")
num2= input("enter second number: ")
modulo = int(num1)% int(num2)
print("result is: ", modulo)

enter first number:  5
enter second number:  2

result is:  1

In [7]:
age=int(input("enter age: "))
if age>=30:
    print("senior")
else:
    print("junior")

enter age:  30

senior

In [12]:
num=int(input("Enter the mark: "))
if num>= 80:
        print("A+")
else:
        print("Bad student")

Enter the mark:  67

Bad student

In [17]:
# Jupyter Notebook cell

def is_girls_name(name):
    """
    Check if the given name is typically a girl's name.
    
    Parameters:
    name (str): The name to check.
    
    Returns:
    bool: True if the name is typically a girl's name, False otherwise.
    """
    girls_names = {"Alice", "Sophia", "Emma", "Olivia", "Ava", "Isabella", "Bashar"}  # Example list of girl's names
    return name in girls_names

# Test the function with the name "Bashar"
name_to_check = "Bashar"
is_girl = is_girls_name(name_to_check)

print(f"Is the name '{name_to_check}' a girl's name? {'Yes' if is_girl else 'No'}")

Is the name 'Bashar' a girl's name? Yes